Repository makeryi/ts-pg-boss: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, biome lint --write --no-errors-on-unmatched

.lintstagedrc:

{
  "*.{html,css,ts,tsx,yaml,yml,md,mdx}": "prettier --write",
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": "biome lint --write --no-errors-on-unmatched"
}

feat: register
  src/index.ts
Due: prettier --write, biome lint --write --no-errors-on-unmatched

release: v0.0.1
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write, biome lint --write --no-errors-on-unmatched

release: v0.0.2
  .npmrc
  LICENSE
  package.json
Due: biome lint --write --no-errors-on-unmatched

release: v0.0.3
  package.json
  src/index.ts
Due: prettier --write, biome lint --write --no-errors-on-unmatched

docs: readme
  LICENSE
  README.md
Due: prettier --write

ci: release
  .github/workflows/release.yml
Due: prettier --write

fix: repeated jobName
  package.json
  src/index.ts
Due: prettier --write, biome lint --write --no-errors-on-unmatched

chore: ci
  .github/workflows/release.yml
Due: prettier --write

chore: ci
  package.json
  src/index.ts
Due: prettier --write, biome lint --write --no-errors-on-unmatched

feat: schedule
  package.json
  src/index.ts
Due: prettier --write, biome lint --write --no-errors-on-unmatched
